@model IEnumerable<Datos.Models.Cliente>
@{
    ViewBag.Title = "Clientes";
}
<h2>Clientes</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-pencil", @title = "Actualizar" })
            </td>
            <td>
                @Html.ActionLink("Detalles ", "Detals", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-pencil", @title = "Detalles" })
            </td>
            <td>
                @Html.ActionLink("Eliminar ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-pencil", @title = "Eliminar" })
            </td>
        </tr>
        }
    </tbody>
</table>
